Checks: '-*,
portability-*,
# readability-*,
performance-*,
clang-analyzer-*,
# cppcoreguidelines-*, 
# bugprone-*, 
# modernize-*
'
HeaderFilterRegex: 'src/.*|test/.*'
WarningsAsErrors: '*'
ExtraArgs: - -Wno-unknown-pragmas # TODO: remove this after switch to clang-tidy-18
